.rightBlock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.wrapper-header-content {
  margin: 20px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftBlock {
  gap: 34px;
  display: flex;
  color: white;
}

.wrapper-header-content .ant-select-selector {
  background-color: transparent !important;
  color: white;
}
